
<app-secao
  titulo="Veículos"
  subtitulo="Listar Veículos"
>
  <div class="row" *ngIf="isUsuarioAdmin()">
    <div class="col d-flex justify-content-end">
      <button [routerLink]="['/veiculos', 'cadastrar']" class="btn btn-success">
        + Novo Veículo
      </button>
    </div>
  </div>

  <div
    class="d-flex flex-wrap justify-content-start bd-highlight">
    <app-card
    *ngFor="let veiculo of veiculos"
    [id]="veiculo.id"
    [titulo]="veiculo.Titulo"
    [valor]="veiculo.valor | currency:'BRL':true:'1.2-2'"
    [unidadesEmEstoque]="veiculo.unidadesEmEstoque"
    [imagemUrl]="veiculo.imagemUrl"
    [podeExibirEditar]="isUsuarioAdmin()"
    (editar)="onEditar($event)"
    (comprar)="onComprar($event)"
    >
    </app-card>

  </div>
  <!--  -->
</app-secao>
